<ion-view view-title="我的消息" hide-nav-bar="true">
  <ion-header-bar align-title="center" class="bar-positive">
    <div class="buttons">
      <button class="button button-clear ion-chevron-left white" ui-sref="tab.account"></button>
    </div>
    <h1 class="title">我的消息</h1>
  </ion-header-bar>
  <ion-content>
    <ion-refresher pulling-icon="ion-load-d" on-refresh="refresh()" refreshing-text="载入中.." refreshing-icon="ion-loading-b">
    </ion-refresher>
    <ul class="list">
      <li class="item" ng-repeat="item in messageTitleList" ui-sref="my-message-detail({id:item.id})">
        <div class="row row-wrap">
          <div class="col-100">
            <p>{{::item.title}}</p>
            <p style="display:none">{{::item.time}}</p>
         </div>
          <div class="col-0" style="font-size:10px;">
           
          </div>
        </div>
      </li>
    </ul>
    <p style="text-align: center; margin-top: 10px;" ng-hide="!is_loadMore">已加载完全部数据</p>
    <ion-infinite-scroll ng-if="!is_loadMore" on-infinite="loadMore()" distance="1%"></ion-infinite-scroll>
  </ion-content>
</ion-view>
