<ion-view view-title="彩九彩票" hide-nav-bar="true">
  <ion-header-bar align-title="center" style="background-color:#00E1AB;">
    <div class="buttons">
      <button class="button button-clear ion-chevron-left white" ui-sref="tab.account"></button>
    </div>
    <h1 class="title">在线客服</h1>
  </ion-header-bar>
   <div style="height:100%;">
   <iframe width="100%" height="100%" style="padding-top:44px;" seamless frameborder="0" ng-src="{{trustSrc}}"></iframe>
  <!--<ion-content id="register">-->
   </div>
  <!--</ion-content>-->
</ion-view>
