<ion-view view-title="方案详情" hide-nav-bar="true" id="details">
    <ion-header-bar align-title="center" class="bar-positive" style="z-index: 99">
        <div class="buttons">
            <yike-back></yike-back>
        </div>
        <h1 class="title">方案详情</h1>
        <div class="buttons">
            <button class="button button-clear" ng-click="copy()">复制</button>
            <button class="button button-clear" ng-click="collect()" >收藏</button>
        </div>
    </ion-header-bar>
    <div class="bar bar-subheader details">
        <p>{{schemeDetails.plan.name}}（{{schemeDetails.plan.play}}）</p>
    </div>
    <ion-content class="has-header has-subheader" style="bottom: 65px">
        <ul ng-show="schemeDetails.plan.notes_num == 0 && type == 1">
            <li class="title" ng-show="schemeDetails.plan.is_show == 1">{{schemeDetails.plan.content}}</li>
            <li class="title" ng-repeat="win in schemeDetails.win">
                    <div>{{win.qishu}}</div>
                    <div>{{schemeDetails.plan.play}}</div>
                    <div>[{{win.content}}]</div>
                    <div>{{win.periods}}期</div>
                    <div>{{win.lottery}}</div>
                    <div>{{win.is_win}}</div>
            </li>
            <li class="title">
                {{schemeDetails.win1}}&nbsp;{{schemeDetails.plan.periods}}期等待开奖...
            </li>
        </ul>
        <ul ng-show="schemeDetails.plan.notes_num != 0  && type == 1" class="notes-num">
            <li class="title" ng-show="schemeDetails.plan.is_show == 1">{{schemeDetails.plan.content}}</li>
            <li class="title" ng-repeat="win in schemeDetails.win">
                {{win.qishu + ' ' + schemeDetails.plan.play + ' ' + win.notes_num + '注 ' + win.periods + '期 ' + win.lottery + ' '+win.is_win}}
            </li>
            <li class="title">
                {{schemeDetails.win1}}&nbsp;{{schemeDetails.plan.periods}}期等待开奖...
            </li>
        </ul>
        <!--PK10-->
        <ul ng-show="schemeDetails.plan.notes_num == 0  && type == 2">
            <li class="title" ng-show="schemeDetails.plan.is_show == 1">{{schemeDetails.plan.content}}</li>
            <li class="title" ng-repeat="win in schemeDetails.win">
                <!--<div class="fl">{{win.qishu}}</div>-->
                <!--<div class="fl">{{schemeDetails.plan.play}}</div>-->
                <!--<div class="fl">[{{win.content}}]</div>-->
                <!--<div class="fl">{{win.periods}}期</div>-->
                <!--<div class="fl">{{win.is_win}}</div>-->
                {{win.qishu + ' ' + schemeDetails.plan.play + ' [' +win.content + '] '+ win.periods + '期 '+win.is_win}}
            </li>
            <li class="title">
                {{schemeDetails.win1}}&nbsp;{{schemeDetails.plan.periods}}期等待开奖...
            </li>
        </ul>
        <ul ng-show="schemeDetails.plan.notes_num != 0  && type == 2" class="notes-num">
            <li class="title" ng-show="schemeDetails.plan.is_show == 1">{{schemeDetails.plan.content}}</li>
            <li class="title" ng-repeat="win in schemeDetails.win">
                {{win.qishu + ' ' + schemeDetails.plan.play + ' ' + win.notes_num + '注 ' + win.periods + '期 '+win.is_win}}
            </li>
            <li class="title">
                {{schemeDetails.win1}}&nbsp;{{schemeDetails.plan.periods}}期等待开奖...
            </li>
        </ul>

    </ion-content>
    <!--<ion-footer-bar align-title="center" class="next-time" style="background-color:#6364C6;">
        <div>{{'上期开奖  '+schemeDetails.win2.periods+'期  '+schemeDetails.win2.lottery+'  '+schemeDetails.win2.is_win}}

            <span style="float: right">开奖倒计时:{{data.time}}</span>
        </div>
        <div>更新时间&nbsp;&nbsp;{{schemeDetails.win2.create_time}}</div>
        <div>欢迎使用9彩计划&nbsp;&nbsp;内容仅供参考&nbsp;&nbsp;QQ客服&nbsp;&nbsp;{{message.qq}}</div>
    </ion-footer-bar>-->
</ion-view>
