<ion-view view-title="历史开奖" hide-nav-bar="true" id="lottery">
  <ion-header-bar align-title="center" style="background-color:#00E1AE;">
  <h1 class="title">历史开奖</h1>
  </ion-header-bar>
  <ion-content style="background-color: #f7f7f7">
    <ion-refresher pulling-icon="ion-load-d" on-refresh="refresh()" refreshing-text="载入中.." refreshing-icon="ion-loading-b">
    </ion-refresher>
    <ul>
      <li ng-repeat="lottery in lotteryList">
        <div>
          <span class="fl">第{{::lottery.num}}期</span>
          <span class="fr">{{::lottery.time}}</span>
        </div>
        <div class="cl">
          <span ng-repeat="con in lottery.content track by $index">{{::con}}</span>
        </div>
      </li>
    </ul>
    <p style="text-align: center; margin-top: 10px;" ng-hide="!noMoreItemsAvailable">已加载完全部数据</p>
    <ion-infinite-scroll ng-if="!noMoreItemsAvailable" on-infinite="loadMore()" distance="1%"></ion-infinite-scroll>
  </ion-content>
</ion-view>
