.return-top{
  position: fixed;
  z-index: inherit;
  top: 70%;
  right: 1rem;
  height: 50px;
  width: 50px;
  background: url("../../assets/image/r_top.png") no-repeat;
  background-size: 100%;
}
//头部样式
ion-header{
  background-color: #AE62BB;
  overflow:hidden;
  color:#fff;
  ion-select{
    height:44px;
    margin:0 auto;
    width:40%;
    text-align:center;
    background:url("../../assets/image/down.png") no-repeat calc(100% - 10px) center;
    background-size:10px;
  }
  .select-ios .select-icon{
    display:none;
  }
  .nav-slider {
    padding:4px;
    background-color: #fff;
    border-bottom: 1px solid #f3f3f3;
    .nav-imgslider {
      padding: 3px;
      img{
        width: 3rem;
        height: 3rem;
        border: 1px solid #fff;
        display: block;
        margin: 0 auto;
      }
      .nav-hmspan {
        color: #8d8d8d;
        width: 4rem;
        font-size: 1rem;
        padding:0.2rem 0.4rem;
        margin-top: 0.2rem;
        display: inline-block;
        text-align: center;
        white-space:nowrap;
        overflow:hidden;
        text-overflow:ellipsis;

      }
    }
  }
}

@-webkit-keyframes rotation{
  from {-webkit-transform: rotate(0deg);}
  to {-webkit-transform: rotate(360deg);}
}

.Rotation{
  -webkit-transform: rotate(360deg);
  animation: rotation 1s linear infinite;
  -moz-animation: rotation 1s linear infinite;
  -webkit-animation: rotation 1s linear infinite;
  -o-animation: rotation 1s linear infinite;
}
/*新增样式*/
.fixed{position:fixed;top:122px;width:100%;height:25px;text-align:center;background-color:#F4F4F2;z-index:100;color:#888580;font-size:12px;line-height:25px;}
.nav_active{
  color:#fff !important;
  background-color:#AE62BB;
  border-radius:20px;
}
.adv_banner{
  height:135px;
  width:100%;
  .swiper-pagination-bullet-active{
    background:#fff;
  }
}
.game_list{
  padding-bottom:60px;
  .hot{
    background:url("../../assets/image/team/hot.png") no-repeat left top;
    background-size:30px;
  }
  .game_item{
    background-color:#fff;
    .date{
      position:relative;
      z-index:100;
      width:100%;
      text-align:center;
      background-color:#F4F4F2;
      color:#888580;
      font-size:12px;
      line-height:25px;
    }
    .game_details_item{
      width:100%;
      border-bottom:1px solid #E3E1DE;
      padding:10px 0;
      .team{
        width:30%;
        text-align:center;
        .name{font-size:14px;margin-top:4px;}
        ion-img{
          width:40px;
          height:50px;
          text-align:center;
          vertical-align:middle;
          background-color:#fff;
          img{
            object-fit:fill;
            width:100%;
            height:100%;
          }
        }
      }
      .game_introduce{
        width:40%;
        text-align:center;
        .play_state{
          &.not_begin{
            color:#888580;
          }
          color:#AE62BB;
          font-size:12px;
          line-height:14px;
          img{
            vertical-align:baseline;
            min-width:14px;
            min-height:14px;
            width:14px;
            height:14px;
            object-fit:fill;
          }
        }
        .play_date{
          font-size:18px;
          height:40px;
          line-height:40px;
        }
        .play_num{
          font-size:14px;
          color:#888580;
        }
      }
    }
  }
}
/*广告位置*/
.footer-bottom{
  position: fixed;
  z-index: inherit;
  bottom: 0;
  left: 0;
  height: 50px;
  width: 100%;
  background-color:#894aad;
  color: #fff;
  display: flex;
  align-items: center;
  .ad_content{
    width: 91%;
    text-align: center;
  }
  .ad_close{
    width: 20px;
    height: 20px;
    img{
      width:100%;
    }
  }
}













































































