body{
	background-color:#ff0;
	color:#fff;
}
.img_css{
	width:100px;
	height:100px;
	background:url("./img/css.png") no-repeat 100% 100%;
	transform:rotate(45deg);
}
.external_Css{
	background:rgba(0,0,0,.1);
	font-size:12px;
}