.add-hero:hover{
  cursor: pointer;
}

.form_bingo{background-color:#42A948;}
.form_err{background-color:#f00;}
.form_submit:active{border:1px solid #ddd;}

.ng-valid[required]{border-left:5px solid #42A948;}
.ng-invalid:not(form){border-left:5px solid #f00;}
