/*样式重置*/
html{font-size:16px;font-family:"microsoft yahei"}
html,body,p,h1,h2,h3,h4,table,tbody,tfoot,thead,tr,td{padding:0;margin:0;}
.fl{float:left;}
.fr{float:right;}
.clear-f:after{
    content:"";
    display:table;
    clear:both;
}

/*弹幕容器*/
.container{
    width:100%;
    height:180px;
    background:rgba(0,0,0,.4);
}
.floor{
    width:100%;
    height:24px;
    line-height:24px;
    font-size:12px;
    color:#fff;
    position:relative;
    overflow:hidden;
}
.floor_container1,.floor_container2,.floor_container3,.floor_container4{
    display:inline-block;
    white-space:nowrap;
    position:absolute;
    /*right:calc(0px - 100%);*/
}
.barrage{
    animation-name:barrage;/* 15s infinite;*/
    /*animation-duration:10s;*/
    /*animation-iteration-count: 1;*/
    animation-timing-function:linear;
}
@-webkit-keyframes barrage {
    0% {}
    100% {right:100%;}
}
.container span:not(:last-child){
    display:inline-block;
    line-height:24px;
    margin-right:10px;
}

/*控制 keyframes 通过 js*/
.control_keyframes{
    width:100px;
    height:100px;
    background-color:#ff0;
    animation:try;
    animation-duration:2s;
    animation-fill-mode: forwards;
}
@keyframes try {
    0% {
        transform :translateX(0) scale(1);
        opacity:0;
    }
    100% {
        transform :translateX(100px) scale(1);
        opacity:1;
    }
}
.in_out{
    animation:inout;
    animation-duration:1s;
    animation-fill-mode:forwards;
}
@keyframes inout{
    0% {
        opacity:0;transform:translateX(100%);
    }
    100%{
        opacity:1;transform:translateX(0px);
    }
}

/*防抖动实例*/
.debounce{
    margin-left:100px;
    width:100px;
    height:150px;
    word-wrap:break-word;
    overflow-y:scroll;
    border:1px solid #ddd;
    margin-top:10px;
    margin-bottom:100px;
}
